<h2> Lista de agendamentos: </h2>
<hr>

{{#each schedules}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>Nome do Pet:{{pet}}</h4>
            <small>Tipo do Pet: {{typepet}}</small><br>
            <small>Diagnóstico: {{diagnosis}}</small><br>
            <small>Data do atendimento: {{date2}}</small><br>
            <small>Horário: {{hour}}</small><br>
            service
        </div>    
    </div>
{{else}}

{{/each}}